.invalid-field {
	border-color: rgb(244, 67, 54) !important;	
}

.invalid-label.md-input-focused label {
	color: rgb(244, 67, 54) !important;
}

a {
	color: #106CC8;
	text-decoration: none;
	font-weight: 400;
	border-bottom: 1px solid rgba(64, 84, 178, 0.25);
	-webkit-transition: border-bottom 0.35s;
	-moz-transition: border-bottom 0.35s;
	-ms-transition: border-bottom 0.35s;
	-o-transition: border-bottom 0.35s;
	transition: border-bottom 0.35s;	
}
.site-sidenav {
	background: #106CC8;	
}

.site-sidenav md-content {
	background: transparent;
}

.docs-menu {
	list-style: none;
	padding: 0;
	max-width: 100%;
	overflow-x: hidden;
}

.docs-menu li {
	border-bottom: 1px solid #267ED5;
	padding: 10px 0px 5px 10px;
	font-weight: bold;
}

.docs-menu a {
	color: white;
	font-weight: bold;	
}
.docs-menu a:hover li {
	background: #267ED5;
}

.docs-logotype {
	color: white;
	text-align: center;
	font-weight: 400;
	font-size: 26px;
}

.cp-menu {
	height: 300px;
	background: #f6f6f6 !important;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 5px;
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);	
}


.ink {
  display: block;
  position: absolute;
  background:rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform:scale(0);
     -moz-transform:scale(0);
       -o-transform:scale(0);
          transform:scale(0);
}

.animate {
	-webkit-animation:ripple 0.65s linear;
   -moz-animation:ripple 0.65s linear;
    -ms-animation:ripple 0.65s linear;
     -o-animation:ripple 0.65s linear;
        animation:ripple 0.65s linear;
}







